// Copyright 2022 Long Le Phi. All rights reserved.
// Use of this source code is governed by a MIT license that can be
// found in the LICENSE file.

#ifndef CONFIG_HPP_IN_
#define CONFIG_HPP_IN_

#include <string_view>

namespace longlp::config {
  const std::string_view data_dir = "@LONGLP_CONFIG_DATA_DIR@";
}   // namespace longlp::config

#endif   // CONFIG_HPP_IN_
